DB_BACKUP.json
client_secret.json
token_hidden.py
token.json
jira_it_issues.json
service_account.json
S20250814.json
overtime_it.ipynb
acciones.py
acciones_mkt.py
/.streamlit/*
.env
jira_bt_issues.json
otta.py
reporting_tableau.py
projectos_bt.json